html {
  background: radial-gradient(rgb(43, 42, 42), black);
  font-family: 'Courier New', Courier, monospace;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

div#home {
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

div.title-container {
  animation: expand 0.7s ease forwards;
  margin: 12rem 0;
}

div.title-container:hover {
  animation: breathe 2s ease-in-out infinite alternate;
}

div.title {
  text-align: center;
  padding: 3rem 4vw;
  box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.3);
  transform-origin: center;
}

@keyframes breathe {
  0% {
    transform: scale(1) translateY(0rem);
    box-shadow: 10px 10px 25px -25px orange,
      -10px -10px 25px -25px rgb(152, 226, 226),
      10px -10px 25px -25px rgb(228, 167, 177),
      -10px 10px 25px -25px rgb(228, 167, 177);
  }
  100% {
    transform: scale(1.15) translateY(-30px);
    box-shadow: 25px 25px 25px -25px orange,
      -25px -25px 25px -25px rgb(152, 226, 226),
      25px -25px 25px -25px rgb(228, 167, 177),
      -25px 25px 25px -25px rgb(228, 167, 177);
  }
}

@keyframes expand {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  85% {
    box-shadow: 30px 0px 50px 10px #ffffff30, -30px 0px 50px 10px #ffffff30;
  }
  100% {
    transform: scaleY(1);
  }
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 3px;
}

.border-gradient-sunset {
  border-image-source: linear-gradient(
    to bottom right,
    rgb(152, 226, 226) 0%,
    rgb(152, 226, 226) 30%,
    rgb(228, 167, 177) 50%,
    rgb(228, 167, 177) 55%,
    orange 75%
  );
}

.text-gradient-sunset {
  background: linear-gradient(
    to bottom right,
    rgb(152, 226, 226) 0%,
    rgb(152, 226, 226) 30%,
    rgb(228, 167, 177) 50%,
    rgb(228, 167, 177) 55%,
    orange 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2 {
  margin: 0;
}

h1#my-name {
  margin: auto 0 1rem 0;
  font-size: 6rem;
  letter-spacing: 1.2rem;
  text-indent: 1.2rem;
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

h2#my-role {
  margin: 2.5rem 0 auto 0;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
}

hr {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
}

a {
  font-size: 4rem;
  padding: 0.2rem 2rem;
  /* background: linear-gradient(to left, rgb(152, 226, 226), orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: rgb(228, 167, 177);
  font-family: 'Source Code Pro', monospace;
  font-weight: 800;
  text-decoration: none;
  border: 1px solid #353535;
  border-radius: 9999px;
}

a:hover {
  border-color: #555555;
  animation: strokify 2.5s ease-in-out infinite alternate;
}

@keyframes strokify {
  0% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(228, 167, 177);
    color: transparent;
  }
  30% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: orange;
    color: transparent;
  }
  60% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(228, 167, 177);
    color: transparent;
  }
  100% {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(144, 189, 189);
    color: transparent;
  }
}

div#projects {
  min-height: 100vh;
  width: 100%;
}

div#projects h1 {
  margin-top: 8vh;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-size: 6rem;
  color: rgb(24, 24, 24);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 8rem;
}

div.section-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

div.rule {
  margin-top: 8vh;
  height: 3px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgb(24, 24, 24) 10%,
    rgb(24, 24, 24) 80%,
    transparent 90%
  );
  width: 60%;
  margin-left: 2%;
  flex-grow: 2;
}

.gradient-divider {
  width: 100vw;
  height: 15rem;
}

.gradient-divider-orange {
  background: linear-gradient(to bottom, transparent, #ffa50060);
}

div.section-contents {
  background: linear-gradient(
    to bottom,
    #ffa50060,
    orange,
    rgb(228, 167, 177),
    rgb(152, 226, 226)
  );
  height: 100vh;
}
